@import "../components/standards.less";

.main {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 12.5rem 1fr;

  &-sidebar {
    box-sizing: border-box;
    height: 100vh;
    padding: 2rem 0.5rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-header {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;

        p {
          font-size: 0.8rem;
          font-weight: 600;
        }

        img {
          box-sizing: border-box;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          object-fit: cover;

          background-color: @background-medium;
          box-shadow: @shadow-light;
        }
      }

      &-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
          justify-content: start;
        }
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      p {
        font-size: 0.8rem;
        color: @text-muted;
      }
    }
  }

  &-page {
    box-sizing: border-box;
    padding: 2rem 1rem 2rem 0.5rem;

    &-content {
      box-sizing: border-box;
      padding: 1rem;
      min-height: 100%;
      max-height: 100%;

      border-radius: @border-radius;
      background-color: @background-medium;
      box-shadow: @shadow-dark;
    }
  }
}
