// Colors for al
@primary: #21295c;
@secondary: #1b3b6f;
@tertiary: #065a82;
@quaternary: #1c7293;

// Alerts and notifications:
@info-blue: #3f88c5;
@warning-yellow: #ffba08;
@error-red: #d00000;
@suceess-green: #136f63;

// Text colors:
@text-light: #ffffff;
@text-dark: #051923;
@text-muted: #cccccc;

// Background colors:
@background-light: #fafaff;
@background-dark: #1c1c1c;
@background-muted: #f8f9fa;
@background-transparent: rgba(0, 0, 0, 0);
@background-disabled: #e5e5e5;

// Shadows:
@shadow-light: 0 0 0.2rem rgba(0, 0, 0, 0.15);
@shadow-dark: 0 0 0.2rem rgba(0, 0, 0, 0.5);

// Border radius:
@border-radius: 8px;
